@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    height: 100vh;
    background: #7d2ae8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    position: relative;
    max-width: 500px;
    max-height: 120px;
    padding: 40px;
    border-radius: 20px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.navbar ul {
    position: relative;
    display: flex;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    position: relative;
    height: 120px;
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #fff;
    cursor: pointer;
}

.navbar ul li a:active {
    border-radius: 20px;
    background: #fff;
}

/* Rever ultilidade do bloco acima */

.navbar ul li a:hover {
    border-radius: 20px;
    background: #fff;
} 

/* Rever ultilidade do bloco acima */

.navbar ul li a i {
    color: #7d2ae8;
    font-size: 2.5em;
    position: absolute;
    transition: all .3s ease-in-out;
}

.activeIcon {
    opacity: 0;
    transition: .2 all .3s ease;
}

.navbar ul li.active-list a i {
    opacity: 1;
}

.indicator {
    position: absolute;
    bottom: -25px;
    left: 27px;
    width: 30px;
    height: 45px;
    background: #7d2ae8;
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.indicator::before {
    content: "";
    position: absolute;
    left: -15px;
    bottom: 50%;
    height: 22px;
    width: 20px;
    background: #fff;
    border-bottom-right-radius: 20px;
    box-shadow: 0 10px 0 #7d2ae8;
}

.indicator::after {
    content: "";
    position: absolute;
    right: -15px;
    bottom: 50%;
    height: 22px;
    width: 20px;
    background: #fff;
    border-bottom-left-radius: 20px;
    box-shadow: 0 10px 0 #7d2ae8;
}